In [1]:
import pandas as pd

In [2]:
from google.colab import files
files.upload()

Saving AB_New_Paysystem.csv to AB_New_Paysystem.csv

In [7]:
df = pd.read_csv('/content/AB_New_Paysystem.csv')

In [8]:
df.head()

,internal_time,milliseconds,action,user_id,user_country,ui_version,experiment_group
0,2021-12-23 23:21:15,1640290775095,open-list,1030926598,BA,desktop,A
1,2021-12-23 23:21:15,1640290775166,open-payment,1030926598,BA,desktop,A
2,2021-12-23 16:53:45,1640267624524,open-list,2257656204,TN,mobile,A
3,2021-12-23 16:53:17,1640267596160,open-list,2257656204,TN,mobile,A
4,2021-12-23 23:58:53,1640293136656,open-list,3011476026,TN,desktop,A

In [9]:
df.user_country.value_counts()

BR    324869
KR    173499
FR    102576
SA     74886
UA     42390
IL     36211
GR     24789
LT     20629
HU     18953
EE     15354
FI     15194
BG     14590
LV     13974
KZ     12559
RS     11925
HR     10140
KW      9886
PK      6561
BY      5918
BH      5134
BA      2914
TN      2477
Name: user_country, dtype: int64

In [10]:
df.ui_version.value_counts()

desktop    859671
mobile      85757
Name: ui_version, dtype: int64

In [11]:
dfa = df[df['experiment_group'] == 'A']
dfa

,internal_time,milliseconds,action,user_id,user_country,ui_version,experiment_group
0,2021-12-23 23:21:15,1640290775095,open-list,1030926598,BA,desktop,A
1,2021-12-23 23:21:15,1640290775166,open-payment,1030926598,BA,desktop,A
2,2021-12-23 16:53:45,1640267624524,open-list,2257656204,TN,mobile,A
3,2021-12-23 16:53:17,1640267596160,open-list,2257656204,TN,mobile,A
4,2021-12-23 23:58:53,1640293136656,open-list,3011476026,TN,desktop,A
...,...,...,...,...,...,...,...
945423,2021-12-21 06:00:30,1640055622816,open-list,476214082,UA,desktop,A
945424,2021-12-21 11:29:20,1640075363980,open-payment,874916254,UA,desktop,A
945425,2021-12-21 11:29:32,1640075376377,open-list,874916254,UA,desktop,A
945426,2021-12-21 11:31:08,1640075472559,open-payment,874916254,UA,desktop,A
945427,2021-12-21 11:28:53,1640075337579,open-list,874916254,UA,desktop,A

In [12]:
dfb = df[df['experiment_group'] == 'B']
dfb

,internal_time,milliseconds,action,user_id,user_country,ui_version,experiment_group
7,2021-12-23 18:15:52,1640272552552,open-payment,2716266521,TN,desktop,B
8,2021-12-23 18:15:33,1640272529302,open-list,2716266521,TN,desktop,B
9,2021-12-23 18:16:07,1640272568295,create-invoice,2716266521,TN,desktop,B
15,2021-12-23 23:27:29,1640291249171,open-payment,3148992740,TN,desktop,B
16,2021-12-23 23:27:03,1640291222780,open-payment,3148992740,TN,desktop,B
...,...,...,...,...,...,...,...
945409,2021-12-22 00:49:46,1640123402298,open-list,2329849454,UA,desktop,B
945410,2021-12-22 00:50:36,1640123452018,open-list,2329849454,UA,desktop,B
945411,2021-12-22 00:49:46,1640123402319,open-payment,2329849454,UA,desktop,B
945412,2021-12-22 00:50:36,1640123452019,open-payment,2329849454,UA,desktop,B
945413,2021-12-22 00:50:27,1640123443265,create-invoice,2329849454,UA,desktop,B

In [16]:
df.loc[df['action'] == 'create-invoice', 'convertion'] = 1
df.loc[df['action'] == 'open-payment', 'convertion'] = 0
df.loc[df['action'] == 'open-list', 'convertion'] = 0

In [18]:
df.head(20)

,internal_time,milliseconds,action,user_id,user_country,ui_version,experiment_group,convertion
0,2021-12-23 23:21:15,1640290775095,open-list,1030926598,BA,desktop,A,0.0
1,2021-12-23 23:21:15,1640290775166,open-payment,1030926598,BA,desktop,A,0.0
2,2021-12-23 16:53:45,1640267624524,open-list,2257656204,TN,mobile,A,0.0
3,2021-12-23 16:53:17,1640267596160,open-list,2257656204,TN,mobile,A,0.0
4,2021-12-23 23:58:53,1640293136656,open-list,3011476026,TN,desktop,A,0.0
5,2021-12-23 20:59:30,1640282360853,open-payment,2659004949,BA,desktop,A,0.0
6,2021-12-23 20:59:30,1640282360775,open-list,2659004949,BA,desktop,A,0.0
7,2021-12-23 18:15:52,1640272552552,open-payment,2716266521,TN,desktop,B,0.0
8,2021-12-23 18:15:33,1640272529302,open-list,2716266521,TN,desktop,B,0.0
9,2021-12-23 18:16:07,1640272568295,create-invoice,2716266521,TN,desktop,B,1.0
10,2021-12-23 23:07:43,1640290063340,open-payment,3071740877,TN,desktop,A,0.0
11,2021-12-23 23:06:28,1640289988933,open-payment,3071740877,TN,desktop,A,0.0
12,2021-12-23 23:07:25,1640290045768,create-invoice,3071740877,TN,desktop,A,1.0
13,2021-12-23 23:07:43,1640290063334,open-list,3071740877,TN,desktop,A,0.0
14,2021-12-23 23:06:28,1640289988825,open-list,3071740877,TN,desktop,A,0.0
15,2021-12-23 23:27:29,1640291249171,open-payment,3148992740,TN,desktop,B,0.0
16,2021-12-23 23:27:03,1640291222780,open-payment,3148992740,TN,desktop,B,0.0
17,2021-12-23 23:27:29,1640291249157,open-list,3148992740,TN,desktop,B,0.0
18,2021-12-23 23:27:02,1640291222652,open-list,3148992740,TN,desktop,B,0.0
19,2021-12-12 22:02:12,1639335732880,open-payment,1484751623,BA,desktop,A,0.0

In [23]:
#for simplification metric, we only consider action: open-payment & action: create-invoice to simulate converstion between variation existing payment system & another payment system

In [20]:
dfm = df[~(df['action']=='open-list')]

In [21]:
dfm['action'].value_counts()

open-payment      368348
create-invoice    157580
Name: action, dtype: int64

In [22]:
#since country have too many variation, we not consider as variant. We only consider ui_version & experiment_group

In [24]:
!pip install bayesian_testing

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting bayesian_testing
  Downloading bayesian_testing-0.3.0-py3-none-any.whl (22 kB)
Requirement already satisfied: numpy<2.0.0,>=1.19.0 in /usr/local/lib/python3.7/dist-packages (from bayesian_testing) (1.21.6)
Installing collected packages: bayesian-testing
Successfully installed bayesian-testing-0.3.0

In [27]:
from bayesian_testing.experiments import BinaryDataTest

In [28]:
conv_test = BinaryDataTest()

In [35]:
variant_A_desktop = dfm['convertion'][(dfm['experiment_group']=='A') & (dfm['ui_version']=='desktop')].values
variant_A_mobile = dfm['convertion'][(dfm['experiment_group']=='A') & (dfm['ui_version']=='mobile')].values
variant_B_desktop = dfm['convertion'][(dfm['experiment_group']=='B') & (dfm['ui_version']=='desktop')].values
variant_B_mobile = dfm['convertion'][(dfm['experiment_group']=='B') & (dfm['ui_version']=='mobile')].values

In [36]:
conv_test.add_variant_data('A_desktop', variant_A_desktop)
conv_test.add_variant_data('A_mobile', variant_A_mobile)
conv_test.add_variant_data('B_desktop', variant_B_desktop)
conv_test.add_variant_data('B_mobile', variant_B_mobile)

In [37]:
conv_test.probabs_of_being_best()

{'A_desktop': 0.9998, 'A_mobile': 0.0, 'B_desktop': 0.0002, 'B_mobile': 0.0}

In [38]:
#From the conversion point of view, variant A_desktop is the best with probability 99.98%